<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
	<title>Thank you</title>
</head>
<body>

	<div class="title" style="margin-bottom: 20px">Thank you.</div>
	<div th:text="${text}" style="text-align:center; color: #fff; font-size: 16px;"></div>
	<a th:href="${loginUrl}">go to login</a>

</body>
</html>
