<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
	<title>Bad Request</title>
</head>
<body>

	<div class="title">Bad Request</div>
	<div class="title" style="font-size: 24px" th:text="${exceptionTitle != null ? exceptionTitle : 'Error'}"></div>
	<div style="display:none;">
		<p th:text="${exception}"></p>
		<p th:text="${url}"></p>
	</div>

</body>
</html>
