<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <title>Login page</title>
</head>
<body>

	<form action="/dologin" method='POST'>
		<input id="email" placeholder="email" type="email" name='username' required/>
		<input id="pw" placeholder="password" type="password" name='password' required/>
		<input type='checkbox' name="remember-me-param" checked />
		<button class="sign-in" name="submit" type="submit">Sign in</button>
	</form>
	<div id="message" th:if="${param.error}" th:text="'Login Failed. '+${param.error[0]}" style="font-size:14px; margin: 7px;">Login failed.</div>

</body>
</html>
