<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin: 0; padding: 0; background-color: #FFFFFF;">

    <table width="100%" height="100%"
           style="min-width: 348px" border="0" cellspacing="0" cellpadding="0">

        <tbody>

        <tr height="32px"></tr>
        <tr align="center">
            <td width="32px"></td>
            <td>
                <table border="0" cellspacing="0" cellpadding="0"
                       style="max-width: 600px">
                    <tbody>
                    <tr height="16"></tr>
                    <tr>
                        <td>
                            <table bgcolor="#0abab5" width="100%" border="0"
                                   cellspacing="0" cellpadding="0"
                                   style="min-width: 332px; max-width: 600px; border: 1px solid #e0e0e0; border-bottom: 0; border-top-left-radius: 3px; border-top-right-radius: 3px">
                                <tbody>
                                <tr>
                                    <td height="72px" colspan="3"></td>
                                </tr>
                                <tr>
                                    <td width="32px"></td>
                                    <td style="font-family: 'Open Sans','Helvetica Neue', Arial, sans-serif; font-size: 24px; color: #ffffff; line-height: 1.25">
                                        Kewtea Activation
                                    </td>
                                    <td width="32px"></td>
                                </tr>
                                <tr>
                                    <td height="18px" colspan="3"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table bgcolor="#FAFAFA" width="100%" border="0"
                                   cellspacing="0" cellpadding="0"
                                   style="min-width: 332px; max-width: 600px; border: 1px solid #f0f0f0; border-bottom: 1px solid #c0c0c0; border-top: 0; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px">
                                <tbody>
                                <tr height="16px">
                                    <td width="32px" rowspan="3"></td>
                                    <td></td>
                                    <td width="32px" rowspan="3"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <table style="width:100%; min-width: 300px"
                                               border="0"
                                               cellspacing="0" cellpadding="0">
                                            <tbody>

                                                <tr>
                                                    <td style="font-family: 'Open Sans','Helvetica Neue', Arial, sans-serif; font-size: 13px; color: #202020; line-height: 2">
                                                        Dear <span th:text="${userName}"></span>,<br>
                                                        Welcome to Kewtea</span><br>
                                                        You're almost done! Please click this link to activate your account:

                                                        <table style="width: 100%; text-align: left">
                                                            <tbody><tr><td>
                                                                <a style="background-color:#0abab5;border-bottom-left-radius:0;border-bottom-right-radius:3px;border-color:#0abab5;border-radius:3px;border-style:solid;border-top-left-radius:0;border-top-right-radius:3px;border-width:10px;color:#ffffff;display:inline-block;font-size:14px;font-weight:500;line-height:18px;margin:10px auto 10px;text-align:center;text-decoration:none" bgcolor="#2979ff" align="center" target="_blank"
                                                                   th:href="${activateUrl}" href="#">
                                                                    <span align="center" style="display:block;padding-left:6px;padding-right:6px">Activate</span>
                                                                </a>
                                                            </td></tr></tbody>
                                                        </table>

                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr height="32px"></tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr height="16"></tr>
                    <tr>
                        <td style="max-width: 600px; font-family: Roboto-Regular, Helvetica, Arial, sans-serif; font-size: 10px; color: #bcbcbc; line-height: 1.5"></td>
                    </tr>
                    <tr>
                        <td>
                            <table style="font-family: Roboto-Regular, Helvetica, Arial, sans-serif; font-size: 10px; color: #666666; line-height: 18px; padding-bottom: 10px">
                                <tbody>
                                <tr>
                                    <td>
                                        © 2017  KewTea Inc., 201 839-5 Yoksam-dong, Gangnam-gu, Seoul, South Korea
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td width="32px"></td>
        </tr>
        <tr height="32px"></tr>
        </tbody>

    </table>

</body>

</html>